# Basic steps for developing a model with Pycaret

In [3]:
# !pip install pycaret

In [4]:
from pycaret.datasets import get_data
data1 = get_data(dataset = 'traffic')

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,1,5545
1,None,289.36,0.0,0.0,75,Clouds,0,4516
2,None,289.58,0.0,0.0,90,Clouds,0,4767
3,None,290.13,0.0,0.0,90,Clouds,0,5026
4,None,291.14,0.0,0.0,75,Clouds,0,4918

In [5]:
from pycaret.regression import *

In [8]:
dataset = setup(data = data1, target = 'traffic_volume',
                session_id = 438, verbose=True)

In [9]:
best = compare_models()

In [10]:
tuned_best = tune_model(estimator = best)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [11]:
final_model = finalize_model(estimator = tuned_best)

In [19]:
# model_path = '../../../mlops/automl_traffic_model'
model_path = './automl_traffic_model'

In [18]:
save_model(model = final_model,model_name=model_path)

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\WMYFHCK\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['temp', 'rain_1h', 'snow_1h',
                                              'clouds_all', 'Rush Hour'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=OneHotEncoder(cols=['holiday',
                                                                     'weather_main'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator', LGBMRegressor(random_state=438))]),
 '../../../mlops/automl_traffic_model.pkl')

In [2]:
# import os
# os.getcwd()

#### Predictions

In [20]:
saved_model = load_model(model_path)

Transformation Pipeline and Model Successfully Loaded

In [22]:
predictions = predict_model(saved_model, data=data1)
predictions.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume,prediction_label
0,None,288.279999,0.0,0.0,40,Clouds,1,5545,4667.723418
1,None,289.359985,0.0,0.0,75,Clouds,0,4516,3332.933375
2,None,289.579987,0.0,0.0,90,Clouds,0,4767,3256.430729
3,None,290.130005,0.0,0.0,90,Clouds,0,5026,3234.240455
4,None,291.140015,0.0,0.0,75,Clouds,0,4918,3370.561625